@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

body{
  margin: auto;
  background-color: #BF3B0B;
}
h2{
text-align: center;
font-family: 'Mochiy Pop P One', sans-serif;
color: #D9BB62;
}
.faveMovies{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
font-family: 'Mochiy Pop P One', sans-serif;
  padding: 4px;
  font-size: 5vmin;
  color: #D9BB62;
  background-color: #592614;
}
  #favorites{
    display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      height: 100vh;
  }
  .newMovie{
    margin: 5vmin;
      background-color: #401F13;
      padding: 5vmin;
      border-radius: 5px;
      color: #F2B705;
      text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
  }
  .filmTitle{
font-family: 'Mochiy Pop P One', sans-serif;
}
.contentItem {
  display: flex;
  flex-direction: column;

  padding: 5vmin;
  height: 100%;
}
.poster{
width: 100%;
height: 400px;
}
